// Sass/SCSS variables customization
// https://quasar.dev/style/sass-scss-variables#variables-list

//@use "sass:color";

// Theme
$primary: #293341 !default;

//$secondary: color.adjust($primary, $lightness: 75%, $space: hsl) !default;
//$accent: color.adjust($primary, $lightness: 25%, $space: hsl) !default;
//$dark: color.adjust($primary, $lightness: -25%, $space: hsl) !default;

$secondary: lighten($primary, 75%) !default;
$accent: lighten($primary, 25%) !default;
$dark: darken($primary, 25%) !default;

$info: $accent !default;
$positive: #7bb946 !default;
$negative: #c74a4a !default;
$warning: #d09931 !default;

// Tooltip
$tooltip-fontsize: 12px !default;
$tooltip-background: $accent !default;

// Window
$window-background: #ffffff !default;
$window-border-style: solid !default;
$window-border-width: 1px !default;
$window-border-color: lightgray !default;
$window-border-radius: 4px !default;
$window-hover-border-color: $primary !default;
$window-header-background: #eeeeee !default;
$window-header-hover-background: #dddddd !default;
$window-controls-size: 1rem !default;

// Table: quasar has eg $table-hover-background but nothing for background
$table-background: #fff !default;

// Scrollbar
.q-scrollarea__thumb {
  background: $primary;
  border-radius: 3px;
  opacity: .2;
}

/* TODO try to specify style the same as above
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background: transparent;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: $primary;
  border-radius: 3px;
  -webkit-transition: background-color .28s ease-in-out;
  transition: background-color .28s ease-in-out;
  opacity: .2;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary
}*/

// Anchor
a {
  color: $accent;
  cursor: pointer;
}
